.ajoutPost {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	min-height: 100%;
	background: white;
	margin: auto;
	margin-top: 20px;
	padding: 20px 20px 20px 20px;
}

.ajPhotoP{
	display: flex;
	flex-direction: column;
	max-width: 600px;
	min-height: 100%;
	background: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;	
}

.formDescriptionP {
	display: flex;
	flex-direction: column; 
	align-items: center;
	margin: auto;	
	margin-top: 20px;
}

.formDescriptionP input{
	display: flex;
	/*align-self: center;*/
	width: 100%;
}

.contenaireform button {
	margin-top: 20px;
}

button {
	display: flex;
	align-self: center;
	margin-top: 20px;
}

.ajoutPost h1 {
	display: flex;
	align-self: center;
	margin-top: 20px;
}

.resultat {
	margin: 20px;
	font-size: 2em;
}
