html {
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #f2f2f2;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left_container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    
} 


.container {
    max-width: 800px;
    min-height: 100%;
    background: white;

}

.right_container {
    max-width : 30%;
}

header {
    color: #f2f2f2;
    /*background: #3d5c5c;*/
    background-image: url('../img/sfondo2.jpg');
    padding: 20px 15px 15px 15px;
    position: relative;

}

.search {
    width: 200px;
    padding:8px 15px;
    background: #e0ebeb;
    border:0px solid #dbdbdb;
}

.legende {
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px #d9d9d9 solid;
    font-style: italic;
}

h2 {
    color: #3d5c5c;
    margin: 20px;
    font-size: 30px;
}
 
 button {
    border-radius: 20px;
    background-color: #3d5c5c; /* Green */
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img {
    max-width: 70%;
    height: auto;
}
.titre {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.titre img {
    max-width: 50%;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}


.posts ul {
    margin: 0;
    padding: 0;
    background: white;
}

.posts li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 2px;
}


/*MENU*/
.menu {
    list-style: none;

}

.menu li {
    padding: 10px;
    border : 1px solid ;
    border-radius: 15px;
    background-color: #3d5c5c;
    color: white;
}

.menu li:hover {
    background-color: white;
    color: #3d5c5c;
}

@media (max-width: 600px) {

    li {
        padding: 12px 15px;
    }
    .titre td {
        padding-right: 0px;
    }
    .search {
        width: 150px;
        clear: both;
    }
}