html {
    font-family: "Raleway", sans-serif;
    cursor: default;
}

body {
    background-color: #f2f2f2;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.inside {
    display : none;
}

.container {
    margin: auto;
    max-width: 800px;
    min-height: 100%;
    background: white;
}

h2 {
    padding-top: 10px;
    color: #3d5c5c;
    margin: 20px;
    font-size: 30px;
}
 
 button {
    margin-top: 0px;
    width: 158px;
    border-radius: 20px;
    background-color: #3d5c5c;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.default_button {
    display: flex;
    cursor: pointer;
}
.default_button:hover {
    background-color: #a3c2c2;
    color: #3d5c5c;
}
img {
    max-width: 70%;
    height: auto;
}


h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}


.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(61, 92, 92, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
    border-radius : 100% ;
}

.go-top:hover {
    background-color: rgba(61, 92, 92, 0.6);
}

@media (max-width: 850px) {
    
    li {
        padding: 12px 15px;
    }
}