.contenaireform , .description{
	display: flex;
	flex-direction: column;
	max-width: 600px;
	min-height: 100%;
	background: white;
	margin: auto;
	margin-top: 20px;
	padding: 20px 20px 20px 20px;   
}

.formInscription {
	display: flex;
	flex-direction: column; 
	margin: auto;	
	margin-top: 20px;

}

.formInscription p {
	display: flex;
	justify-content: space-between;	
}

.formInscription input {
	margin-left: 10px;
}

.types {
	display: flex;
	flex-direction: row;
}

.type{
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}

.type input {
	margin-right: 30px;
}

button {
	display: flex;
	align-self: center;
	margin-top: 20px;
}

@media (max-width: 600px) {
	.contenaireform {
		margin-top: 0px;
	}
}

textarea {
	display: flex;
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

}