.contenaireform {
	display: flex;
	max-width: 600px;
	min-height: 100%;
	background: white;
	margin: auto;
	margin-top: 20px;
}

.formInscription {
	display: flex;
	flex-direction: column; 
	margin: auto;	
	margin-top: 20px;

}

.formInscription p {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.contenaireform {
		margin-top: 0px;
	}
}