.mon_profil {
	display: none;
}

.mon_profil_ajoute {
	display: none;
}

.profil_annie {
	margin-top: 20px;
	padding: 20px;
}

.actions {
	display: flex;
	justify-content: space-around;
}

.actions button {
	margin-top: 20px;
}

.modifier_mon_profil {
	display: none;
}

.profile_header div {
	display: flex;
}

.profile_header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.profile_header li {
	display: inline-flex;
	margin: 0;
	justify-content: space-between;
}

.profile_name {
	margin-top: 0;
}
.type_a {
	margin-top: 0;
}
.fa-pencil {
	/*margin-top: 30px;*/
	color: #5c8a8a;
	width: 4px;
}

.fa-pencil:hover {
	color: #94b8b8;
	cursor: pointer;
}

.photo div {
	display: flex;
	flex-direction: column;
}

.photo_img img {
	padding: 0;
}

.modifier_mon_profil img:hover {
	cursor: pointer;
}

.photo {
	display: flex;
}

.photo img {
	padding-right: 20px;
}

.img_menu ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0px 0;
}
.img_menu ul li {
	display: inline;
	padding: 0;
}

.fa-trash {
	cursor: pointer;
	color: #cc0000;
}
.fa-trash:hover {
	color: #ff1a1a;
}
.fa-check {
	color: #3d5c5c;
	margin-left: 0;
}

.popup {
	padding-right: 40px;
	border: 1px solid #d1e0e0;
	border-radius: 5%;
	background-color: #d1e0e0;
	z-index: 10; 
	position: absolute;
	margin: auto;
	margin-top: 100px;
}

.popup ul {
	list-style: none;
}

.popup ul li {
	display: inline;
}
