/*barre de titre*/
header {
  color: #f2f2f2;
  background-image: url('../img/sfondo2.jpg');
  padding: 20px 15px 15px 15px;
  position: relative;

}
/*bouton qui permet de rechercher un artiste*/
.search {
  display: flex;
  background: #f2f2f2;
  border:0px solid #dbdbdb;
  border-radius: 20px;
  color: #3d5c5c;
  font-style: italic;
  padding: 5px;
  text-align: left;
  cursor: text;
}

.search ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search ul li {
  display: inline;
  padding: 0;
  margin: 0;
}
/*image Techne*/
.titre {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.titre img {
  display: flex;
  height: 100%;
  cursor: pointer;
}
.menu {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
.menu li {
  cursor: pointer;
  display: inline;
  padding: 5px;
}
.menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
}
.menu a:hover{
  text-decoration: underline;
}

.menu_mobile {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu_mobile li { 
  padding: 5px;
  text-align: center;
}
.menu_mobile a {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #3d5c5c;
}

.menu_mobile li:hover {
	background-color: #b3cccc;
}
.bt_menu_mobile {
  display: none;
  cursor: pointer;
  padding-top: 20px;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 6px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.bt_menu_mobile span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #f2f2f2;
  display: block;
}

.div_search_mobile {
  background-color: white;
  width: 100%;
}

.search_mobile {
  display: none;
  background: white;
  border:0px solid #dbdbdb;
  border-radius: 20%;
  color: #3d5c5c;
  border-radius: 0;
  font-style: italic;
  font-size: 20px;
  padding: 9px;
  text-align: left;
  cursor: text;
}

.search_mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search_mobile ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }
  .bt_menu_mobile {
    display: block;
  }
  .titre {
    justify-content: space-between;
  }
  li {
    padding: 12px 15px;
  }

}

@media (max-width: 512px) {
  .search {
    display: none;
  }
  .search_mobile {
    display: flex;
  }
  .titre {
    justify-content: space-between;
  }
}