
.listeP {
    display: none;
}


.posts div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    padding-left: 0px;
}

.posts li {
    padding-top: 50px;
    position: relative;
    list-style: none;
    border-bottom: #eee solid 2px;
}

/*légende de chaque post*/
.legende {
    font-style: italic;
}

.author {
    color: #3d5c5c;
    font-weight: bold;
}
.poste_le {
    color: #666666;
    margin: 0;
}