.recherche_artistes {
	display: none;
}

.recherche ul {
    margin: 0;
    padding: 0;
    background: white;
}

.recherche li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 2px;
}

.recherche img {
	display: flex;
	max-width: 150px;
}

.recherche li {
	border: 1px solid rgba(0,0,0,0);
	display: flex;
	justify-content: column;
}

.recherche li:hover {
	cursor: pointer;
	border: 1px solid gainsboro;
}

.recherche li div {
	margin-right: 10px;
}

.nom_artiste {
	font-weight: bold;
}
@media (max-width: 600px) {
	.recherche li {
		flex-direction: row;
	}
}
/*PROFIL DES ARTISTES*/

.photo img{
	display: flex;
	max-width: 200px;
}

.oeuvres {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.oeuvres img {
   height: auto;
	display: flex;
	margin-bottom: 40px;
}


/*ARTISTES INDIVIDUELS*/

.the_artist_Dali {
	display: none;
	margin : 50px;
}
.the_artist_Maier {
	display: none;
	margin : 50px;
}
.the_artist_Pollock {
	display: none;
	margin : 50px;
}
.the_artist_Marc {
	display: none;
	margin : 50px;
}
.the_artist_Kandinsky {
	display: none;
	margin : 50px;
}